* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(137, 43, 43);
    position: relative;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}



/*css celular*/
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 1.3em;
    background-color: #ebecee;
}

h1 {
    background-color: #EB7B17;
    font-size: 1.3em;
    padding: 5px;
    flex: 100%;
}

h2 {
    background-color: #e09e64;
    font-size: 1.2em;
    padding: 5px;
    flex: 100%;
}

h3 {
    background-color: #e3ba95;
    font-size: 1.1em;
    padding: 5px;
    flex: 100%;
}

p {
    padding: auto;
    margin: 5px;
    flex: auto;
}

table,
tr,
td,
th {
    border: solid 1px #259E2E;
    border: 1px;
    border-style: solid;
    width: 80%;
    padding: 1px;
    border-collapse: collapse;

}

td {

    width: auto;
    height: auto;
}

th {
    background-color: #060;
    color: #FFF;
    margin: 1px;
    padding: 1px;
}

section {
    display: flex;
    flex-flow: row wrap;
    margin: 2px;
    padding: 5px
}

/*inicio menu*/


.menu li {
    background-color: rgb(2, 66, 2);
    float: left;
    padding: 1rem;
    text-decoration: none;
    transition-duration: 0.5s;
    width: 100%;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li ul {
    visibility: hidden;
    list-style: none;
    opacity: 0;
    min-width: 1rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.5rem;
    left: 0;
    display: none;
    box-shadow: 0px 9px 16px 0px black;
}

.menu li ul li {
    margin-left: 0;
    width: 100%;
    background-color: rgb(5, 109, 5);
}

.menu li:hover,
.menu li:focus-within {
    background-color: #22a7a7fd;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: black;
    /*cor da fonte quando passa o cursor*/
}

.menu li:hover>ul,
.menu li:focus-within>ul,
.menu li ul:hover,
.menu li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}


/*Fim configuração menu Drop down*/
/*Fim    estilo menu*/



form {

    margin: 30px auto;
    width: 80%;

}

label {
    width: 70%;
    display: inline-block;

}

input {
    width: 70%;
    padding: 6px;
}

textarea {
    width: 70%;
    padding: 8px;
}

ul#contato {
    list-style: none;

}

ul#m12 {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(79, 76, 76);
    position: none;
    top: 0;
    width: 90%;
}

li#m3 {
    float: left;
}

li#m3 a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li#m3 :active {
    transform: translateY(5px);
    padding: 16px 16px;
}

li#m3 a:hover {
    color: rgb(17, 16, 16);
    background-color: rgb(75, 251, 11);

}

button {
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #145c97;
    color: #F8F8FF;
    font-size: 20px;
    box-shadow: 0 10px #062c49;
    cursor: pointer;
}

button:hover {
    background-color: #008080;
    color: #ece4e4;
}

button:active {
    background-color: #6495ED;
    box-shadow: 0 4px #363636;
    border: 2px solid #000000;
    transform: translateY(2px);
}



@media screen and (max-width: 801px) {

    /*Inicio estilo menu*/

    nav {
        position: relative;
        font-family: monospace;
        float: left;
        width: 100%;
        background-color: rgb(2, 66, 2);
    }

    .menu {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-flow: row wrap;
    }

}

@media screen and (min-width: 802px) {

    /*css notebook */
    body {
        font-family: arial, helvetica, sans-serif;
        font-size: 0.9em;
        background-color: #c0efc3fc;
    }

    h1 {
        background-color: #8865f0;
        font-size: 0.9em;
        padding: 5px;
        flex: 100%;
    }

    h2 {
        background-color: #a991ef;
        font-size: 0.9em;
        padding: 5px;
        flex: 100%;
    }

    h3 {
        background-color: #d2c6f9;
        font-size: 0.9em;
        padding: 5px;
        flex: 100%;
    }

    p {
        padding: auto;
        margin: 5px;
        flex: 50%;
    }

    .menu {
        list-style: none;
        padding-left: 0;
        display: flex;
        flex-flow: line wrap;
    }

    .menu li ul {
        list-style: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0.5rem;
        left: 50%;
        display: none;
        width: 325px;
        box-shadow: 0px 9px 16px 0px black;
    }

    .menu li ul li {
        margin-left: 0;
        width: 100%;
        background-color: rgb(5, 109, 5);
    }


    #pagina {
        display: grid;
        grid-template-areas: "cab cab"
            "con con1"
            "con2 con3"
            "rod rod"
            "gal gal";
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }

    #pagina h1 {
        grid-area: cab;
        text-align: center;
    }

    #pagina #fperfil {
        grid-area: con;
        display: flex;
        flex: auto;

    }

    #pagina #p1 {
        grid-area: con1;
    }


    #pagina #con2 {
        grid-area: con2;

    }

    #pagina #con3 {
        grid-area: con3;
        
    }

    #pagina #estudo {
        grid-area: rod;                
        text-align: center;
        
    }
    
    
    #pagina .gal {
        grid-area: gal;       
               
    }

  

    #pagina #estudo table {
        margin: 3px;
         flex: auto;
         
     }

}


@media screen and (min-width: 1281px) {

    /*css tv */
    body {
        font-family: arial, helvetica, sans-serif;
        font-size: 1em;
        background-color: #9ff2a5;
    }

    h1 {
        background-color: #9171f1;
        padding: 5px;
    }

    h2 {
        background-color: #9272f1;
        padding: 5px;
    }

    h3 {
        background-color: #d2c6f9;
        padding: 5px;
    }

    p {
        padding: auto;
        margin: 5px;
    }

}